@model LoginDto
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-12 my-1">
        <div class="card mx-5 p-1">
            <div class="card-body">
                <form asp-action="Login" method="post">
                    <div class="mb-3 text-center display-1">
                        <i class="bi bi-person-circle"></i>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <span class="text-danger">*</span>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-4">
                        <label asp-for="Password" class="form-label">Password</label>
                        <span class="text-danger">*</span>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="text-center mb-4">
                        <button class="btn btn-primary py-2 px-5">Log in</button>
                    </div>

                    <div class="text-center pt-2">
                        <span>Don't have an account? <a asp-action="@nameof(AccountController.SignUp)">
                            Sign up</a></span>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}