@{
    ViewBag.Title = "Categories Management";
}

<h1 class="text-center mb-3">Categories</h1>

<section>
    <a asp-controller="Category" asp-action="Upsert" class="btn btn-primary mb-2">Add Category</a>

    <div class="table-responsive">
        <table id="categoriesTable" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</section>

@section Scripts {
    <script src="~/js/utilities.js"></script>
    <script src="~/js/categories.js"></script>
}