@{
    ViewBag.Title = "Category Management";
}

<h2 class="text-center mb-4">Categories</h2>

<table id="table" class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/categories.js"></script>
}