@model CategoryDto
@{
    ViewBag.Action = Model.Id == Guid.Empty ? "Add" : "Edit";
    ViewBag.Title = $"{ViewBag.Action} Category";
}

<form asp-controller="Category" asp-action="Upsert" method="post">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-12 justify-content-center">
            <h1 class="mb-4">@ViewBag.Title</h1>

            <input asp-for="Id" hidden />

            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <span class="text-danger">*</span>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">@ViewBag.Action</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Category" asp-action="Index"
                       class="btn btn-outline-secondary form-control">Back</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
